.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

.benefits__item {
  flex-grow: 1;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);

    margin-bottom: 30px;
  }

  &:nth-child(2n-1) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.benefits__icon-container {
  @include centered-flex;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: $secondary-background-color;
}

.benefits__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}
