.clients-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.clients-list__link {
  @include centered-flex;
  flex-grow: 1;
  height: 92px;

  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: $transition-color, $transition-border;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients-list__icon {
  fill: currentColor;
}
