.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $primary-background-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__text--inverse {
  color: $primary-white-color;
}

.address-wrap {
  margin-right: 70px;
}

.address {
  width: 231px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  color: $primary-white-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: $transition-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address-list__link--other-color {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-wrap {
  margin-right: 93px;
}

.social-text {
  margin-bottom: 20px;

  color: $primary-white-color;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__link--other-background {
  background-color: #44454e;

  color: $primary-white-color;

  transition: $transition-background-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.subscribe__text {
  margin-bottom: 20px;

  color: $primary-white-color;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe__wrap {
  @include centered-flex(inline-flex);
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__field {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__icon {
  margin-left: 10px;
}
