.section--mob-tabl-hidden {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

.process-list {
  display: flex;
}

.process-list__item {
  position: relative;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.process-list__title {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;

  @include centered-flex;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-white-color;

  background: rgba(47, 48, 58, 0.8);
}
