body {
  font-family: Roboto, sans-serif;
  color: $primary-text-color;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  @include centered-margin;
  padding-right: 15px;
  padding-left: 15px;
  // width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
