body {
  font-family: Roboto, sans-serif;
  color: $primary-text-color;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $primary-white-color;
}

.container {
  width: 1200px;
  @include centered-margin;
  padding-right: 15px;
  padding-left: 15px;
}
